################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrencyExchange/bin/Debug/net8.0
/CurrencyExchange/obj
/CurrencyExchange.Tests/bin/Debug/net8.0
/CurrencyExchange.Tests/obj
